<div class="ui menu">
	<a class="item siteHeader" href="/">Testlet</a>
	<a class="item">Create</a>
	<div class="right menu">
		<a class="item" <% if (user) { %>
			href="/logout" >Log Out <%} else { %> href="/auth/google">Log In <%
			} %></a
		>
	</div>
</div>
